
/*С€Р°РїРєР° СЃР°Р№С‚Р°*/
.header_container {
    min-width:1100px; width: 1100px;
    z-index:100;
    margin: 0 auto;

}
.login_menu{
    min-width:200px;
    float:left;		/*РѕР±С‚РµРєР°РЅРёРµ СЌР»РµРјРµРЅС‚Р° РїРѕ РїСЂР°РІРѕРјСѓ РєСЂР°СЋ*/
    height:100px;
    background-color:#cccccc;
    width:15%;
    padding:15px 10px 10px 10px;
    border-radius:8px 8px 8px 8px;
    overflow:hidden;
}
.title {
    min-width:800px;
    margin-left:0;
    padding:25px;
    background-color:#f7f7f7;
    overflow:hidden;
    border-radius: 8px 8px 8px 8px;
}
/*РњРµРЅСЋ*/
.menu_container
{

}
ul.menu {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17;
    padding-left: 0px;
}
ul.menu li {
    position: relative;
    display: inline-block;
    background: #95b4e3;
    list-style: none;
    padding: 2px 2px;
    text-align:center;
    border-radius:8px;
    z-index:100;
}
ul.menu li:hover {
    background: green;
    position:relative;
}
ul.menu li a{
    color: #fff;
    font-family: Arial;
    text-decoration: none;
}
ul.menu li ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width:100%;
    margin: 0;
    padding: 0;
    transition: visibility 0.5s, opacity 0.5s;

}
ul.menu li:hover>ul{
    visibility: visible;
    opacity: 1;
}
ul.menu li li{
    display: block;
    white-space: nowrap;
    width:100%;
}

ul.menu li ul li ul{
    position: absolute;
    top: 0;
    left: 102%; /*РІС‚РѕСЂРѕР№ Рё РїРѕСЃР»РµРґСѓСЋС‰РёРµ СѓСЂРѕРІРЅРё СЂР°СЃСЃРєСЂС‹РІР°СЋС‚СЃСЏ РІРїСЂР°РІРѕ*/
    visibility: hidden;
    opacity: 0;
}

/*РљРѕРЅРµС† РјРµРЅСЋ*/