 .slider {
 z-index: 9;
 width: 700px;
 height: 290px;
 overflow: hidden;
 margin: 0 auto;
 position: relative;
 margin-top:10px;
 border-radius:20px;
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px; 
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: 700px;
 height: 290px;
 }
 .slider .nav {
 position: absolute;
 left: 290px;
 bottom: 12px; 
 }
 .slider .nav span {
 opacity: 1;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #2e9419;
 }
 
 .arrows {
    position: absolute;
    float: left;
    z-index: 100;
    width: 754px;
    margin-top: 120px;
	margin-left:426px;
	display:block;
}
.arrows .arrowprev {
    float: left;
    background: url("pages/images/arrow-prev.png") no-repeat scroll 0% 0% transparent;
	cursor:pointer;
}
.arrows .arrownext {
    background: url("pages/images/arrow-next.png") no-repeat scroll 0% 0% transparent;
    float: right;
	cursor:pointer;
}

.arrows .arrownext, .arrows .arrowprev {
    width: 30px;
    height: 50px;
    z-index: 1000;
    display: block;
    text-indent: -9000px;
}

 .arrow_prev {
  opacity:0;
  cursor:pointer;
  position:relative;
  left:177px;
  top:180px;
}

.arrow_next {
  opacity:0;
  cursor:pointer;
  position:relative;
  right:176px;
  float:right;
  top:180px;
}
 
 